<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href= "/static/styles.css" rel="stylesheet" >

  </head>
<body>
    {% include "components/navbar.html.jinja"%}

<main class="max-w-5xl mx-auto p-6 mb-5">

    {% if cart|length == 0 %}
        <div class="flex flex-col items-center justify-center">
            <p class="text-5xl text-center italic font-bold">Your cart is empty</p>
            <a href="/browse" class="justify-center">Start Shopping</a>
        </div>
    {% else %}
        <h1 class="text-4xl font-bold mb-8 text-center"> Cart Total: ${{total}}</h1>
        <button>
            <a href="/checkout">Checkout</a>
        </button>
    {% endif %}

    {% for x in cart %}
        <div class="grid grid-cols-4 gap-6 items-center border-b pb-6 mb-6">

            <img class="max-h-48 mx-auto border border-black col-span-1" src="{{ x['Image'] }}">

            <div class="col-span-3 text-2xl font-semibold">
                {{ x['Name'] }}
            </div>

          
            <div class="col-span-2">
                <label class="block text-sm mb-1">Quantity</label>
                <form method="post" action="/cart/{{ x['ProductID'] }}/update_qty">
                    <input class="border p-2 w-24" name="qty" type="number" min="1" value="{{ x['Quantity'] }}" onchange="this.form.submit()">
                </form>
            </div>

            <div class="col-span-1">
                <form method="post" action="/cart/{{ x['ProductID'] }}/remove">
                    <button type="submit" class="text-red-600 hover:underline">
                        Remove
                    </button>
                </form>
            </div>

            <div class="col-span-1 text-xl font-bold text-right">
                $ {{ x['Price'] * x['Quantity'] }}
            </div>
            <div>

            </div>

        </div>
    {% endfor %}
 
</main>

</body>
</html>