<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link href= "/static/styles.css" rel="stylesheet" >
  </head>
<body>
  {% include "components/navbar.html.jinja"%}


{%for x in orders%}
<div class=" m-10 px-4  grid grid-cols-3 border-3 divide-x-3 divide items-center">
    <div class="py-4">
        <h1 class="text-xl font-semibold">OrderID: {{ x['ID'] }}</h1>
        <p>Date: {{ x['Timestamp'].strftime('%b-%d-%Y') }}</p>
    </div>

    <div class="text-center h-full flex justify-center items-center">
        <p class="text-xl">Pending</p>
    </div>

    <div class="text-right">
        <p>Items: {{ x['Quantity'] }}</p>
        <p>Price: ${{ x['Total'] }}</p>
    </div>
</div>

{%endfor%}
  </body>
</html>