<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href= "/static/styles.css" rel="stylesheet" >
  </head>
  <body class>
  {% include "components/navbar.html.jinja"%}
    
    <div class="grid grid-cols-2 ml-20 gap-15 mr-20">
            <img class="h-175 w-300 border-black border-[10px] justify-center fill" src=" {{ product ['Image'] }}">
            <div class="text-xl">{{ product ["Name"] }}<div>
            <br>
            <div>${{ product ["Price"] }}</div>
            <br>
            <div class="text">{{ product ["Size"]}}</div>
            <br>
          <div class="flex flex-co text-wrap">
            <div> Desctiption: {{ product ["Description"]}}</div>
          </div>
    </div>
           <br>
           <br>
            <button class="text-white text-deco px-25 py-2 rounded-lg bg-blue-700 hover:text-white justify-center ml-35 " type="submit">
                <i data-lucide="send"></i> Add to bag
            </button>

  </body>
</html>
