<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href= "/static/product/stycles.css" rel="stylesheet" >
  </head>
  <body>
  {% include "components/navbar.html.jinja"%}
    <h1>Register Here</h1>


      <div>
        <label>Your Name:</label>
          <br>
            <input type="text" id="name" required name="name">
            <br>
        <label>Email:</label>
          <br>
            <input  type="text"  id="email" required name="email">
            <br>
          <label>Password:</label>
            <br>
            <input type="password" id="password"  required name="password" >
            <br>
        
          <label>Confrim Password:</label>
            <br>
            <input type="password" id="confirm_password" required name="confirm_password" >
        
            <br>
            <br>
          <button type="submit" onclick="registerUser()">Register</button>
      </div>
  </body>
</html>
