<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href= "/static/styles.css" rel="stylesheet" >
  </head>
  <body>
  {% include "components/navbar.html.jinja"%}
{%for message in get_flashed_messages() %}
  <li class = "text-center">{{ message }}</li>
{% endfor %}


    <form method="post">
      <div class="flex items-center justify-center min-h-screen">
          <div>
            <label>Name:</label>
            <br>
            <input name="name" required type="name" class="border">
              <br>
            <label>Email:</label>
              <br>
            <input  name="email" required type="email" class="border">
              <br>
            <label>Password:</label>
              <br>
            <input name="password"  required type="password" class="border">
              <br>
            <label>Confrim Password:</label>
              <br>
            <input name="confirm_password" required type="password" class="border" >
              <br>
            <label>Address:</label>
              <br>
            <input required type = "text" name = "address" class="border">
            <br>
            <br>
            <br>
              <button class="text-deco px-4 py-2 rounded hover:bg-sky-700 hover:text-white">Sign Up</button>
            </div>
      </div>
    </form>
  </body>
</html>
